/* ================================= 
  Base Element Styles
==================================== */

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2,
h3,
a {
	color: #3a3a3a;
}

a {
	text-decoration: none;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}

/* ---- Layout Containers ---- */

.header-color {
	background: #EFEEEF;
}

.banner {
	color: #3a3a3a;
	background: #CFDDED;
	padding: 5rem 0;
	text-align: center;
}

.title {
	text-align: center;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
}

.row {
	height: 40vh;
}

.content {
	width: 40%;
	background-color: #8A99A8;
	margin: 10px;
	text-align: center;
}

.box_1,
.box_2 {
	margin-top: 0;
}

span {
	background: #DEEDFF;
	margin: 0.5rem auto;
	padding: 1rem;
}

/* ================================= 
  Flexbox
==================================== */

.main-header,
.main-nav,
.row,
.main-footer {
	display: flex;
}

.row {
flex-wrap: wrap;
justify-content: center;
}

.main-header {
	flex-direction: row;
	justify-content: space-between;
}